#set( $h1 = '#' )
#set( $h2 = '##' )
#set( $h3 = '###' )
#set( $h4 = '####' )
#set( $snippetName = "" )

These are the responses which are sent for <a href="commands-things.html">Thing commands</a>.

* <a href="commands-things-responses-query.html">Respones for Query Commands</a>
* <a href="commands-things-responses-modify.html">Respones for Modify Commands</a>
