#set( $h1 = '#' )
#set( $h2 = '##' )
#set( $h3 = '###' )
#set( $h4 = '####' )
#set( $snippetName = "" )

These are the responses which are sent for <a href="commands-search.html">Search commands</a>.

* <a href="commands-search-responses-query.html">Respones for Query Commands</a>
