.checkstyle
.classpath
.flattened-pom.xml
.idea
*.iml
.project
.settings
.metadata
.vscode/
target/
/ditto_all_dependencies/
dependencies.txt
/deployment/docker/.env
/deployment/docker/sandbox/.env
/deployment/docker/sandbox/postgres
/deployment/docker/sandbox/graphite/storage
ajcore.*.txt
*.mdb
.env
.DS_Store
deployment/helm/eclipse-ditto/requirements.lock
deployment/helm/eclipse-ditto/charts/*
.factorypath
ui/node_modules
ui/package.json
ui/package-lock.json

