dist: trusty
sudo: required
language: java
jdk:
  - oraclejdk8
before_install:
  - cp .travis.settings.xml $HOME/.m2/settings.xml
install: true
script:
  - export PROJECT_VERSION=$(mvn org.apache.maven.plugins:maven-help-plugin:evaluate -Dexpression=project.version -B | grep -v '\[')
  - mvn install javadoc:jar source:jar-no-fork -T2 --batch-mode --errors --quiet -Pbuild-documentation -DcreateJavadoc=true
