# Copyright (c) 2023 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
{{- if .Values.serviceAccount.create -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "ditto.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "ditto.name" . }}
  annotations:
    {{- if .Values.serviceAccount.assumeAwsIamRole }}
    eks.amazonaws.com/role-arn: {{ .Values.serviceAccount.assumedAwsRoleArn }}
    {{- end }}
    {{- if .Values.serviceAccount.annotations }}
    {{ toYaml .Values.serviceAccount.annotations }}
    {{- end }}
{{ include "ditto.labels" . | indent 4 }}
{{- end -}}
