.summary {
    color: #808080;
    border-left: 5px solid #696969;
    font-size:16px;
}

h2 {color: #3a8c9a; }
h4 {color: #3a8c9a; }

a {color: #3a8c9a;}
code {
    color: #3a8c9a;
    background-color: #f5f5f5;}
hr {color: #3a8c9a;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #3a8c9a;
}

.nav > li > a:hover {
    background-color: #248ec2;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #3a8c9a;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #3a8c9a;
    border-color: #3a8c9a;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #015CAE;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #015CAE;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000000 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #3a8c9a;
    border-color: #3a8c9a;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #3a8c9a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #000000;
    border-color: #3a8c9a;
}

.printTitle {
    color: #3a8c9a !important;
}

body.print h1 {color: #3a8c9a !important; font-size:28px !important;}
body.print h2 {color: #3a8c9a !important; font-size:20px !important;}
body.print h3 {color: #3a8c9a !important; font-size:14px !important;}
body.print h4 {color: #3a8c9a !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
  margin-top:20px;
  font-weight:normal;
  font-size:130%;
  margin-bottom:10px;
  margin-left: 5px;
}

li.sidebarTitle label {
  font-weight:normal;
}

li.sidebarTitle .select-wrapper {

}

li.sidebarTitle .select-wrapper select {
    background-color: #3a8c9a;
    color: white;
    padding: 8px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

li.sidebarTitle .select-wrapper::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    width: 20%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

li.sidebarTitle .select-wrapper::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

li.sidebarTitle .select-wrapper select option {
    padding: 30px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #000000;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

ul.nav.navbar-nav.navbar-right img {
    height: 20px;
    padding-right: 5px;
}

/* info , tip box with icon -  warning stays red*/
.alert-info {
    color: #3a8c9a;
    background-color: white;
    border-color: #3a8c9a;
}

.alert-success {
    color: #3a8c9a;
    background-color: white;
    border-color: #3a8c9a;
}

.info-container .row .panel .panel-body {
    height: 12em;
}

@media (max-width: 1199px) {
    .info-container .row .panel .panel-body {
        height: 14em;
    }
}

@media (max-width: 990px) {
    .info-container .row .panel .panel-body {
        height: 12em;
    }
}

@media (max-width: 767px) {
    .info-container .row .panel .panel-body {
        height: auto;
    }
}
