apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  clusterIP: None
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
  selector:
    service: mongodb

---

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: mongodb
  name: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      service: mongodb
  template:
    metadata:
      labels:
        service: mongodb
    spec:
      containers:
        - name: mongodb
          image: docker.io/mongo:5.0
          command:
            - mongod
            - --storageEngine
            - wiredTiger
            - --noscripting
            - --bind_ip
            - "0.0.0.0"
          ports:
            - containerPort: 27017
          env:
            - name: TZ
              value: Europe/Berlin
