apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  clusterIP: None
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
  selector:
    app: mongodb
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mongodb
spec:
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: docker.io/mongo:3.6
        command:
          - mongod
          - --storageEngine
          - wiredTiger
          - --noscripting
        ports:
          - containerPort: 27017
        env:
        - name: TZ
          value: Europe/Berlin