---
apiVersion: v1
kind: Service
metadata:
  name: mongodb
  labels:
    name: mongodb
spec:
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
  selector:
    role: mongodb

---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
spec:
  selector:
    matchLabels:
      role: mongodb
  serviceName: "mongodb"
  replicas: 1
  template:
    metadata:
      labels:
        role: mongodb
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: mongodb
          image: docker.io/mongo:5.0
          command:
            - mongod
            - --bind_ip
            - 0.0.0.0
            - --storageEngine
            - wiredTiger
            - --noscripting
          ports:
            - containerPort: 27017
              protocol: TCP
          volumeMounts:
            - name: mongodb-data
              mountPath: /data/db
          env:
            - name: TZ
              value: Europe/Berlin
      volumes:
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: mongodb-pv-claim