#set( $h1 = '#' )
#set( $h2 = '##' )
#set( $h3 = '###' )
#set( $h4 = '####' )
#set( $snippetName = "" )

These are example JSONs of the Ditto internal Commands for viewing/retrieving entities bypassing ACL checks.

$h2 Sudo Retrieve Thing

$h4 Without field selector

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThing.json" )
```
#parse( "snippet" )
```

Example response:

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThingResponse.json" )
```
#parse( "snippet" )
```

$h4 With field selector

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThing-withFieldSelector.json" )
```
#parse( "snippet" )
```

Example response:

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThingResponse-withFieldSelector.json" )
```
#parse( "snippet" )
```

$h2 Sudo Retrieve Things

$h4 Without field selector

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThings.json" )
```
#parse( "snippet" )
```

Example response:

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThingsResponse.json" )
```
#parse( "snippet" )
```

$h4 With field selector

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThings-withFieldSelector.json" )
```
#parse( "snippet" )
```

Example response:

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrieveThingsResponse-withFieldSelector.json" )
```
#parse( "snippet" )
```
