#set( $h1 = '#' )
#set( $h2 = '##' )
#set( $h3 = '###' )
#set( $snippetName = "" )

$h3 Message Timeout

#set( $snippetFile = "/target/generated-resources/messages/errors/messageTimeoutException.json" )
```
#parse( "snippet" )
```

$h3 Timeout Invalid

#set( $snippetFile = "/target/generated-resources/messages/errors/timeoutInvalidException.json" )
```
#parse( "snippet" )
```

$h3 Subject Invalid

#set( $snippetFile = "/target/generated-resources/messages/errors/subjectInvalidException.json" )
```
#parse( "snippet" )
```
