#set( $h1 = '#' )
#set( $h2 = '##' )
#set( $h3 = '###' )
#set( $snippetName = "" )

$h3 Connection Created

#set( $snippetFile = "/target/generated-resources/amqp-bridge/events/connectionCreated.json" )
```
#parse( "snippet" )
```

$h3 Connection Opened

#set( $snippetFile = "/target/generated-resources/amqp-bridge/events/connectionOpened.json" )
```
#parse( "snippet" )
```

$h3 Connection Closed

#set( $snippetFile = "/target/generated-resources/amqp-bridge/events/connectionClosed.json" )
```
#parse( "snippet" )
```

$h3 Connection Deleted

#set( $snippetFile = "/target/generated-resources/amqp-bridge/events/connectionDeleted.json" )
```
#parse( "snippet" )
```

