<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Bosch Software Innovations GmbH.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ https://www.eclipse.org/org/documents/epl-2.0/index.php
  ~
  ~ Contributors:
  ~    Bosch Software Innovations GmbH - initial contribution
  -->
<configuration>
    <!-- do not print INFO cluster messages of mongo driver: -->
    <logger name="org.mongodb.driver" level="WARN"/>
</configuration>
