<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Bosch Software Innovations GmbH.
  ~
  ~ All rights reserved. This program and the accompanying materials
  ~ are made available under the terms of the Eclipse Public License v2.0
  ~ which accompanies this distribution, and is available at
  ~ https://www.eclipse.org/org/documents/epl-2.0/index.php
  ~
  ~ Contributors:
  ~    Bosch Software Innovations GmbH - initial contribution
  -->
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level [%X{x-correlation-id}] %logger{20} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%date{ISO8601} %-5level [%X{x-correlation-id}] %logger{20} %X{akkaSource} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <if condition='isDefined("LOGSTASH_SERVER")'>
        <then>
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${LOGSTASH_SERVER}</destination>

                <!-- encoder is required -->
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"appname":"gateway","instance_index":"${INSTANCE_INDEX}"}</customFields>
                </encoder>
            </appender>
        </then>
    </if>


    <!--<logger name="akka.actor" level="DEBUG"/>-->

    <!-- do not print INFO cluster messages of mongo driver: -->
    <logger name="org.mongodb.driver" level="WARN"/>

    <!-- Log level for the application -->
    <logger name="org.eclipse.ditto" level="${LOG_LEVEL_APPLICATION:-INFO}"/>

    <!--<logger name="akka.cluster.ddata.Replicator" level="DEBUG" />-->

    <root level="${LOG_LEVEL:-INFO}">
        <!-- logging INFO messages can be disabled by setting environment variable -->
        <if condition='isNull("DISABLE_SYSOUT_LOG")'>
            <then>
                <appender-ref ref="STDOUT"/>
            </then>
        </if>

        <!-- always log ERRORs to sysout -->
        <appender-ref ref="STDERR"/>

        <if condition='isDefined("LOGSTASH_SERVER")'>
            <then>
                <appender-ref ref="stash"/>
            </then>
        </if>
    </root>


</configuration>
