#set( $h1 = '#' )
#set( $h2 = '##' )
#set( $h3 = '###' )
#set( $h4 = '####' )
#set( $snippetName = "" )

These are example JSONs of Eclipse Ditto's internal Commands for viewing/retrieving entities bypassing permission checks.

$h2 Retrieve Policy

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrievePolicy.json" )
```
#parse( "snippet" )
```

Example response:

#set( $snippetFile = "/target/generated-resources/commands/sudo/sudoRetrievePolicyResponse.json" )
```
#parse( "snippet" )
```
