# Copyright (c) 2017 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
openapi: 3.0.0
info:
  title: Eclipse Ditto™ HTTP API
  version: "2"
  description: |-
    JSON-based, REST-like API for Eclipse Ditto

    The Eclipse Ditto HTTP API uses response status codes (see [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6))
    to indicate whether a specific request has been successfully completed, or not.

    The information Ditto provides additionally to the status code (e.g. in API docs, or error codes like. "things:thing.tooLarge") might change without advance notice.
    These are not be considered as official API, and must therefore not be applied in your applications or tests.

servers:
  - url: https://ditto.eclipseprojects.io/
    description: "online Ditto Sandbox"
  - url: /
    description: "local Ditto"

tags:
  - name: Things
    description: Manage every thing
  - name: Features
    description: Structure the features of your things
  - name: Policies
    description: Control access to your things
  - name: Things-Search
    description: Find every thing
  - name: Messages
    description: Talk with your things
  - name: CloudEvents
    description: Process CloudEvents in Ditto
  - name: Connections
    description: Manage connections
  - name: Devops
    description: Devops APIs to manage log levels and configuration in runtime and send piggyback command

security:
  - Google:
      - openid
  - NginxBasic: [ ]
  - Bearer: [ ]

paths:

  ###
  ### Things
  ###
  /api/2/things:
    $ref: "./paths/things/index.yml"
  '/api/2/things/{thingId}':
    $ref: "./paths/things/thing.yml"
  '/api/2/things/{thingId}/definition':
    $ref: "./paths/things/definition.yml"
  '/api/2/things/{thingId}/policyId':
    $ref: "./paths/things/policyId.yml"
  '/api/2/things/{thingId}/attributes':
    $ref: "./paths/things/attributes.yml"
  '/api/2/things/{thingId}/attributes/{attributePath}':
    $ref: "./paths/things/attribute.yml"

  ###
  ### Features
  ###
  '/api/2/things/{thingId}/features':
    $ref: "./paths/features/index.yml"
  '/api/2/things/{thingId}/features/{featureId}':
    $ref: "./paths/features/feature.yml"
  '/api/2/things/{thingId}/features/{featureId}/definition':
    $ref: "./paths/features/definition.yml"
  '/api/2/things/{thingId}/features/{featureId}/properties':
    $ref: "./paths/features/properties.yml"
  '/api/2/things/{thingId}/features/{featureId}/properties/{propertyPath}':
    $ref: "./paths/features/property.yml"
  '/api/2/things/{thingId}/features/{featureId}/desiredProperties':
    $ref: "./paths/features/desiredProperties.yml"
  '/api/2/things/{thingId}/features/{featureId}/desiredProperties/{propertyPath}':
    $ref: "./paths/features/desiredProperty.yml"

  ###
  ### Messages
  ###
  '/api/2/things/{thingId}/inbox/claim':
    $ref: "./paths/messages/inbox-claim.yml"
  '/api/2/things/{thingId}/inbox/messages/{messageSubject}':
    $ref: "./paths/messages/inbox-message.yml"
  '/api/2/things/{thingId}/outbox/messages/{messageSubject}':
    $ref: "./paths/messages/outbox-message.yml"
  '/api/2/things/{thingId}/features/{featureId}/inbox/messages/{messageSubject}':
    $ref: "./paths/messages/feature-inbox-message.yml"
  '/api/2/things/{thingId}/features/{featureId}/outbox/messages/{messageSubject}':
    $ref: "./paths/messages/feature-outbox-message.yml"

  ###
  ### Policies
  ###
  '/api/2/policies/{policyId}':
    $ref: "./paths/policies/policy.yml"
  '/api/2/policies/{policyId}/actions/activateTokenIntegration':
    $ref: "./paths/policies/activateTokenIntegration.yml"
  '/api/2/policies/{policyId}/actions/deactivateTokenIntegration':
    $ref: "./paths/policies/deactivateTokenIntegration.yml"
  '/api/2/policies/{policyId}/entries':
    $ref: "./paths/policies/entries.yml"
  '/api/2/policies/{policyId}/entries/{label}':
    $ref: "./paths/policies/entry.yml"
  '/api/2/policies/{policyId}/entries/{label}/actions/activateTokenIntegration':
    $ref: "./paths/policies/activateTokenIntegrationForEntry.yml"
  '/api/2/policies/{policyId}/entries/{label}/actions/deactivateTokenIntegration':
    $ref: "./paths/policies/deactivateTokenIntegrationForEntry.yml"
  '/api/2/policies/{policyId}/entries/{label}/subjects':
    $ref: "./paths/policies/subjects.yml"
  '/api/2/policies/{policyId}/entries/{label}/subjects/{subjectId}':
    $ref: "./paths/policies/subject.yml"
  '/api/2/policies/{policyId}/entries/{label}/resources':
    $ref: "./paths/policies/resources.yml"
  '/api/2/policies/{policyId}/entries/{label}/resources/{resourcePath}':
    $ref: "./paths/policies/resource.yml"
  '/api/2/policies/{policyId}/imports':
    $ref: "./paths/policies/imports.yml"
  '/api/2/policies/{policyId}/imports/{importedPolicyId}':
    $ref: "./paths/policies/import.yml"

  ###
  ### Who Am I
  ###
  '/api/2/whoami':
    $ref: "./paths/whoami/index.yml"

  ###
  ### Things-Search
  ###
  /api/2/search/things:
    $ref: "./paths/search/things.yml"
  /api/2/search/things/count:
    $ref: "./paths/search/things-count.yml"

  ###
  ### CloudEvents
  ###
  '/api/2/cloudevents':
    $ref: "./paths/cloudevents/cloudevents.yml"

  ###
  ### Connections
  ###
  '/api/2/connections':
    $ref: "./paths/connections/connections.yml"
  '/api/2/connections/{connectionId}':
    $ref: "./paths/connections/connectionId.yml"
  '/api/2/connections/{connectionId}/command':
    $ref: "./paths/connections/command.yml"
  '/api/2/connections/{connectionId}/status':
    $ref: "./paths/connections/status.yml"
  '/api/2/connections/{connectionId}/metrics':
    $ref: "./paths/connections/metrics.yml"
  '/api/2/connections/{connectionId}/logs':
    $ref: "./paths/connections/logs.yml"

  ###
  ### Logging
  ###
  /devops/logging:
    $ref: "./paths/logging/logging.yml"
  '/devops/logging/{moduleName}':
    $ref: "./paths/logging/moduleName.yml"

  ###
  ### Service Configuration
  ###
  /devops/config:
    $ref: "./paths/config/config.yml"
  '/devops/config/{moduleName}/{podName}':
    $ref: "./paths/config/podName.yml"

  ###
  ### Piggyback Commands
  ###
  /devops/piggyback:
    $ref: "./paths/piggyback/piggyback.yml"
  '/devops/piggyback/{serviceName}':
    $ref: "./paths/piggyback/serviceName.yml"
  '/devops/piggyback/{serviceName}/{instanceIndex}':
    $ref: "./paths/piggyback/instanceIndex.yml"

components:

  requestBodies:
    Attributes:
      $ref: "./requests/attributes.yml"
    Definition:
      $ref: "./requests/definition.yml"
    Payload:
      $ref: "./requests/payload.yml"
    Value:
      $ref: "./requests/value.yml"
    PatchValue:
      $ref: "./requests/patchValue.yml"
    ActivateTokenIntegration:
      $ref: "./requests/policies/actions/activateTokenIntegration.yml"

  responses:
    EntityTooLarge:
      $ref: "./responses/entityTooLarge.yml"
    MessageTooLarge:
      $ref: "./responses/messageTooLarge.yml"
    NotModified:
      $ref: "./responses/notModified.yml"
    PreconditionFailed:
      $ref: "./responses/preconditionFailed.yml"
    DependencyFailed:
      $ref: "./responses/dependencyFailed.yml"
    SuccessUpdateLogLevel:
      $ref: "./responses/successUpdateLogLevel.yml"
    SuccessUpdateLogLevelSinglePod:
      $ref: "./responses/successUpdateLogLevelSinglePod.yml"

  parameters:
    AllowPolicyLockoutParam:
      $ref: "./parameters/allowPolicyLockoutParam.yml"
    AttributesPathPathParam:
      $ref: "./parameters/attributePathPathParam.yml"
    AttributesFieldsQueryParam:
      $ref: "./parameters/attributesFieldsQueryParam.yml"
    ChannelParam:
      $ref: "./parameters/channelParam.yml"
    ChannelParamPutDescription:
      $ref: "./parameters/channelParamPutDescription.yml"
    ConditionParam:
      $ref: "./parameters/conditionParam.yml"
    LiveChannelConditionParam:
      $ref: "./parameters/liveChannelConditionParam.yml"
    LiveChannelTimeoutStrategyParam:
      $ref: "./parameters/liveChannelTimeoutStrategyParam.yml"
    DesiredPropertiesFieldsQueryParam:
      $ref: "./parameters/desiredPropertiesFieldsQueryParam.yml"
    FeatureFieldsQueryParam:
      $ref: "./parameters/featureFieldsQueryParam.yml"
    FeatureIdPathPathParam:
      $ref: "./parameters/featureIdPathPathParam.yml"
    FeaturesFieldsQueryParam:
      $ref: "./parameters/featuresFieldsQueryParam.yml"
    IfMatchHeaderParam:
      $ref: "./parameters/ifMatchHeaderParam.yml"
    IfMatchHeaderParamHash:
      $ref: "./parameters/ifMatchHeaderParamHash.yml"
    IfNoneMatchHeaderParam:
      $ref: "./parameters/ifNoneMatchHeaderParam.yml"
    IfEqualHeaderParam:
      $ref: "./parameters/ifEqualHeaderParam.yml"
    ImportedPolicyIdPathParam:
      $ref: "./parameters/importedPolicyIdPathParam.yml"
    LabelPathParam:
      $ref: "./parameters/labelPathParam.yml"
    LiveMessageRequestedAcksParam:
      $ref: "./parameters/liveMessageRequestedAcksParam.yml"
    MessageClaimTimeoutParam:
      $ref: "./parameters/messageClaimTimeoutParam.yml"
    MessageSubjectPathParam:
      $ref: "./parameters/messageSubjectPathParam.yml"
    MessageTimeoutParam:
      $ref: "./parameters/messageTimeoutParam.yml"
    Namespace:
      $ref: "./parameters/namespaceParameter.yml"
    NamespacesFilter:
      $ref: "./parameters/namespacesFilter.yml"
    PolicyFieldsQueryParam:
      $ref: "./parameters/policyFieldsQueryParam.yml"
    PolicyIdPathParam:
      $ref: "./parameters/policyIdPathParam.yml"
    PropertiesFieldsQueryParam:
      $ref: "./parameters/propertiesFieldsQueryParam.yml"
    PropertyPathPathParam:
      $ref: "./parameters/propertyPathPathParam.yml"
    PutMetadataParam:
      $ref: "./parameters/putMetadataParam.yml"
    GetMetadataParam:
      $ref: "./parameters/getMetadataParam.yml"
    DeleteMetadataParam:
      $ref: "./parameters/deleteMetadataParam.yml"
    RequestedAcksParam:
      $ref: "./parameters/requestedAcksParam.yml"
    ResourcePathPathParam:
      $ref: "./parameters/resourcePathPathParam.yml"
    ResponseRequiredParam:
      $ref: "./parameters/responseRequiredParam.yml"
    SearchFilter:
      $ref: "./parameters/searchFilter.yml"
    SubjectIdPathParam:
      $ref: "./parameters/subjectIdPathParam.yml"
    ThingFieldsQueryParam:
      $ref: "./parameters/thingFieldsQueryParam.yml"
    ThingIdPathParam:
      $ref: "./parameters/thingIdPathParam.yml"
    TimeoutParam:
      $ref: "./parameters/timeoutParam.yml"
    ConnectionIdPathParam:
      $ref: "./parameters/connectionIdPathParam.yml"
    ConnectionFieldsQueryParam:
      $ref: "./parameters/connectionFieldsQueryParam.yml"
    LoggingFieldsQueryParam:
      $ref: "./parameters/loggingFieldsQueryParam.yml"
    ModuleNamePathParam:
      $ref: "./parameters/moduleNamePathParam.yml"
    PathParam:
      $ref: "./parameters/pathParam.yml"
    NamePodParam:
      $ref: "./parameters/namePodParam.yml"
    ServiceNameParam:
      $ref: "./parameters/serviceNameParam.yml"
    InstanceIndex:
      $ref: "./parameters/instanceIndexParam.yml"

  schemas:
    Error:
      $ref: "./schemas/errors/error.yml"
    AdvancedError:
      $ref: "./schemas/errors/advancedError.yml"
    Attributes:
      $ref: "./schemas/things/attributes.yml"
    Definition:
      $ref: "./schemas/things/definition.yml"
    FeatureDefinition:
      $ref: "./schemas/features/featureDefinition.yml"
    FeatureProperties:
      $ref: "./schemas/features/featureProperties.yml"
    FeatureDesiredProperties:
      $ref: "./schemas/features/featureDesiredProperties.yml"
    Feature:
      $ref: "./schemas/features/feature.yml"
    SearchResultThings:
      $ref: "./schemas/search/searchResultThings.yml"
    SearchResultThingsCount:
      type: integer
    NewThing:
      $ref: "./schemas/things/newThing.yml"
    PatchThing:
      $ref: "./schemas/things/patchThing.yml"
    Thing:
      $ref: "./schemas/things/thing.yml"
    NewPolicy:
      $ref: "./schemas/policies/newPolicy.yml"
    Policy:
      $ref: "./schemas/policies/policy.yml"
    PolicyImports:
      $ref: "./schemas/policies/policyImports.yml"
    PolicyImport:
      $ref: "./schemas/policies/policyImport.yml"
    Importable:
      $ref: "./schemas/policies/importable.yml"
    PolicyEntries:
      $ref: "./schemas/policies/policyEntries.yml"
    PolicyEntry:
      $ref: "./schemas/policies/policyEntry.yml"
    Subjects:
      $ref: "./schemas/policies/subjects.yml"
    SubjectEntry:
      $ref: "./schemas/policies/subjectEntry.yml"
    Resources:
      $ref: "./schemas/policies/resources.yml"
    ResourceEntry:
      $ref: "./schemas/policies/resourceEntry.yml"
    Permission:
      $ref: "./schemas/policies/permission.yml"
    SubjectAnnouncement:
      $ref: "./schemas/policies/subjectAnnouncement.yml"
    Features:
      $ref: "./schemas/features/features.yml"
    Connection:
      $ref: "./schemas/connections/connection.yml"
    NewConnection:
      $ref: "./schemas/connections/newConnection.yml"
    Sources:
      $ref: "./schemas/connections/sources.yml"
    Source:
      $ref: "./schemas/connections/source.yml"
    Targets:
      $ref: "./schemas/connections/targets.yml"
    Target:
      $ref: "./schemas/connections/target.yml"
    ConnectionType:
      $ref: "./schemas/connections/connectionType.yml"
    ConnectivityStatus:
      $ref: "./schemas/connections/connectivityStatus.yml"
    PayloadMappingDefinitions:
      $ref: "./schemas/connections/payloadMappingDefinitions.yml"
    PayloadMappingDefinition:
      $ref: "./schemas/connections/payloadMappingDefinition.yml"
    MappingContext:
      $ref: "./schemas/connections/mappingContext.yml"
    ConnectionStatus:
      $ref: "./schemas/connections/connectionStatus.yml"
    ResourceStatus:
      $ref: "./schemas/connections/resourceStatus.yml"
    ConnectionMetrics:
      $ref: "./schemas/connections/connectionMetrics.yml"
    OverallConnectionMetrics:
      $ref: "./schemas/connections/overallConnectionMetrics.yml"
    SourceMetrics:
      $ref: "./schemas/connections/sourceMetrics.yml"
    TargetMetrics:
      $ref: "./schemas/connections/targetMetrics.yml"
    InboundMetrics:
      $ref: "./schemas/connections/inboundMetrics.yml"
    OutboundMetrics:
      $ref: "./schemas/connections/outboundMetrics.yml"
    TypedMetric:
      $ref: "./schemas/connections/typedMetric.yml"
    SingleMetric:
      $ref: "./schemas/connections/singleMetric.yml"
    ConnectionLogs:
      $ref: "./schemas/connections/connectionLogs.yml"
    LogEntry:
      $ref: "./schemas/connections/logEntry.yml"
    LogCategory:
      $ref: "./schemas/connections/logCategory.yml"
    LogType:
      $ref: "./schemas/connections/logType.yml"
    LogLevel:
      $ref: "./schemas/connections/logLevel.yml"
    WhoAmI:
      $ref: "./schemas/whoami/whoami.yml"
    WhoAmISubject:
      $ref: "./schemas/whoami/whoamiSubject.yml"
    WotThingDescription:
      $ref: "./schemas/wot-thingDescription.yml"
    TextUnauthorizeError:
      $ref: "./schemas/errors/textUnauthorizeError.yml"
    RetrieveConfig:
      $ref: "./schemas/config/retrieveConfig.yml"
    RetrieveLoggingConfig:
      $ref: "./schemas/logging/retrieveLoggingConfig.yml"
    Module:
      $ref: "./schemas/logging/module.yml"
    LoggingUpdateFields:
      $ref: "./schemas/logging/loggingUpdateFields.yml"
    UpdatedLogLevel:
      $ref: "./schemas/logging/updatedLogLevel.yml"
    ModuleUpdatedLogLevel:
      $ref: "./schemas/logging/moduleUpdatedLogLevel.yml"
    ResultUpdateRequest:
      $ref: "./schemas/logging/resultUpdateRequest.yml"
    ModuleConfigService:
      $ref: "./schemas/config/moduleConfigService.yml"
    ResultConfigService:
      $ref: "./schemas/config/resultConfigService.yml"
    RetrieveConfigService:
      $ref: "./schemas/config/retrieveConfigService.yml"
    BasePiggybackCommandRequestSchema:
      $ref: "./schemas/piggyback/basePiggybackCommandRequestSchema.yml"
    PiggybackManagingBackgroundCleanup:
      $ref: "./schemas/piggyback/piggybackManagingBackgroundCleanup.yml"

  securitySchemes:
    NginxBasic:
      $ref: "./security/nginxBasic.yml"
    Bearer:
      $ref: "./security/bearerAuth.yml"
    Google:
      $ref: "./security/google.yml"
    DevOpsBasic:
      $ref: "./security/devOpsBasic.yml"
    DevOpsBearer:
      $ref: "./security/devOpsBearer.yml"
