<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021 Contributors to the Eclipse Foundation
  ~
  ~ See the NOTICE file(s) distributed with this work for additional
  ~ information regarding copyright ownership.
  ~ This program and the accompanying materials are made available under the
  ~
  ~ terms of the Eclipse Public License 2.0 which is available at
  ~ http://www.eclipse.org/legal/epl-2.0
  ~ SPDX-License-Identifier: EPL-2.0
  -->

<configuration debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%t] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.ditto" level="${LOG_LEVEL_DITTO:-INFO}"/>

    <logger name="io.netty" level="${LOG_LEVEL_NETTY:-WARN}"/>
    <logger name="org.apache.http" level="${LOG_LEVEL_HTTP:-WARN}"/>
    <logger name="org.awaitility" level="${LOG_LEVEL_AWAITILITY:-WARN}"/>

    <root level="${LOG_LEVEL:-WARN}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
