repository: eclipse/ditto

output: web
# this property is useful for conditional filtering of content that is separate from the PDF.

topnav_title: Eclipse Ditto™
# this appears on the top navigation bar next to the home button

site_title: Eclipse Ditto™ • open source framework for digital twins in the IoT
short_title: Eclipse Ditto™ • a digital twin framework
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

company_name: Eclipse Ditto™
# this appears in the footer

github_editme_path: eclipse/ditto/edit/master/documentation/src/main/resources/
# if you're using Github, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

google_analytics: GTM-5WLCZXC
# the above one is the Google Tag Manager ID of the Eclipse Foundation

host: 127.0.0.1
# the preview server used. Leave as is.

port: 4000
# the port where the preview is rendered. You can leave this as is unless you have other Jekyll builds using this same port that might cause conflicts. in that case, use another port such as 4006.

exclude:
  - .gitignore
  - assembly.xml
# these are the files and directories that jekyll will exclude from the build

feedback_subject_line: Eclipse Ditto

feedback_email: ditto-dev@eclipse.org
# used as a contact email for the Feedback link in the top navigation bar

feedback_disable: true
# if you uncomment the previous line, the Feedback link gets removed

# feedback_text: "Need help?"
# if you uncomment the previous line, it changes the Feedback text

# feedback_link: "http://helpy.io/"
# if you uncomment the previous line, it changes where the feedback link points to

highlighter: rouge
# library used for syntax highlighting

markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge

# filter used to process markdown. note that kramdown differs from github-flavored markdown in some subtle ways

collections:
  tooltips:
    output: false
# collections are declared here. this renders the content in _tooltips and processes it, but doesn't output it as actual files in the output unless you change output to true

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      comments: true
      search: true
      sidebar: ditto_sidebar
      topnav: topnav
  -
    scope:
      path: ""
      type: "tooltips"
    values:
      layout: "page"
      comments: true
      search: true
      tooltip: true

  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true
      search: true
      sidebar: ditto_sidebar
      topnav: topnav

# these are defaults used for the frontmatter for these file types

sidebars:
- ditto_sidebar

title: "Eclipse Ditto Blog"
description: "Announcements, tutorials and examples around Eclipse Ditto and Digital Twins"
# the description is used in the feed.xml file

# display also blogposts dated in the future:
future: true

# needed for sitemap.xml file only
url: https://www.eclipse.org/ditto

plugins:
  - jekyll-sitemap

docVersions:
  - label: "development"
    basePath: ""
  - label: "3.1"
    basePath: "3.1"
  - label: "3.0"
    basePath: "3.0"
  - label: "2.4"
    basePath: "2.4"
  - label: "2.3"
    basePath: "2.3"
  - label: "2.2"
    basePath: "2.2"
  - label: "2.1"
    basePath: "2.1"
  - label: "2.0"
    basePath: "2.0"
